.gridBackground {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    background-image: 
      linear-gradient(to right, rgba(59, 59, 59, 0.2) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-size: 40px 40px;
    pointer-events: none;
  }
  
  .fadeEffect {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 30%, transparent 85%); /* Increased opacity and coverage */
    pointer-events: none;
    z-index: 0; 
  }
  